@page 
@model HomeLibraryManager.Pages.Library.HomeModel

@{
    ViewData["Title"] = "Library";
}

<h1>Library Manger</h1>
<p>
    This app is designed to help keep track of the personal libraries of books collectors. It uses Google's Book API to get initial information about the book. After that the user can specifying book specific attribiutes such as condition, number line, edition iinformation etc.

</p>
<p>It is coded used SQLite and Entity Framework with a Code First Approach using NET 6.</p>

