@page
@model HomeLibraryManager.Pages.Reviews.ReviewsModel
<h1>My Reviews of My Books</h1>
<table class="table" id="bookListTable">
    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Review Title
            </th>
            <th>
                Review Score
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Reviews != null && Model.Reviews.Count() > 0)
        {
            @foreach (var item in Model.Reviews)
            {
                <tr>
                    <td class="linkingTD" onclick="location.href='/Library/Book?id=@item.Book.BookId'">
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>
                    <td class="linkingTD" onclick="location.href='/Reviews/Review?id=@item.ReviewId'">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>