@page
@model HomeLibraryManager.Pages.Google.SearchModel
@using HomeLibraryManager.Models
@{
}
<form method="post" id="googleBooksSearchForm" >
    <input type="text"  asp-for="SearchForm.UserInput"/>
    <select asp-for="SearchForm.SearchType">
        @foreach(var value in Enum.GetValues(typeof(Enums.SearchType)))
        {
            <option value="@value">@value</option>
        }
    </select>
    <button class="btn btn-primary" id="submit" asp-page-handler="Search">Submit</button>
</form>
<div id="booksSearchContainer">

</div>
<script>
    window.onload = function() {        
        document.getElementById('googleBooksSearchForm').onsubmit = () => {
            let formData = new FormData(document.forms[0]);
            fetch('?handler=Search', {
                method: 'post',
                body: new URLSearchParams(formData) 
            })
            .then((response) => response.text())
            .then(data => {
                console.log(data);
                document.getElementById('booksSearchContainer').innerHTML = data;
            });
            return false;
        };
    }
    function AddBook(bookID) {        
        console.log(bookID);
        fetch('?handler=AddBook', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bookID)
        })
        .then((response) => response.text())
        .then(data => {
            console.log(data);
        });
    }
</script>