@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
#booksSearchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-left: -1rem;
    margin-right: -1rem;
    position: relative;

    #bookInfo {
        width: calc(50% - 2rem);
        border: 1px solid black;
        border-radius: 2rem;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: rgba(128,128,128, 0.3);

        #addOverlay {
            display: none;
        }

        &:hover {
            cursor: pointer;

            #addOverlay {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                color: green;
                pointer-events: none;
                background-color: rgba(50, 50, 50, 0.9);
                z-index: 50;

                svg {
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                }
            }
        }

        #rightCard {
            width: 75%;
            padding: 1rem;

            #description {
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box !important;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }

        #leftCard {
            width: 25%;
            background-size: cover;
            background-position: center center;
            border-bottom-left-radius: 2rem;
            border-top-left-radius: 2rem;
            height: 100%;
        }
    }
}

.libraryListBookThumbnail {
    width: 20px;
}
table {
    //override bootstrap
    border-color: rgb(95,99,104) !important;

    thead {
        tr {
            background-color: grey;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: grey;

                .linkingTD:hover {
                    background-color: lightgrey;
                }
            }

            &:nth-child(odd) {
                background-color: lightgrey;

                .linkingTD:hover {
                    background-color: grey;
                }
            }
        }
    }
}
#bookDetailContainer, #reviewDetailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;

    #description {
        margin-top: 3rem;
    }

    #left {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img {
            width: 100%;
        }
        h1 {
            margin-bottom: 0px
        }
    }

    #right {
        width: 72%;
        display: flex;
        flex-direction: column;

        #googleProperties {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            span {
                width: 45%;
                padding-top: 1rem;
                font-weight: bold;
            }
        }

        fieldset {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;

            span {
                padding-top: 1rem;
                font-weight: bold;
            }

            input {
                width: 150px;
            }
        }
    }
}
td.linkingTD:hover {
    cursor : pointer;
    background-color: lightgray;
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}
/*#region Global Styles and Nav Styles*/
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    //background-color: rgb(95,99,104);
    color: lightgrey;
    background: linear-gradient(0deg, rgba(95,99,104, 0.98), rgba(95,99,104, 0.98)), url("../images/bookshelfbackground.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;

    body {
        padding-top: 65px;
        margin-bottom: 60px;
        //background-color: rgb(95,99,104);
        background: none;

        header {
            nav {
                .dropdown-menu {
                    background-color: grey;

                    a.dropdown-item {
                        color: rgb(235,235,235);
                        background-color: grey;
                        border-color: lightgray;

                        &:not(:first-of-type) {
                            border-top: 1px solid lightgrey;
                        }
                    }
                }

                #loggedInAs {
                    display: flex;
                    flex-wrap: nowrap;
                    a {
                        font-weight: bold;
                    }
                    &:hover {
                        color: grey;
                    }
                }
            }
        }

        h1, h2, h3, h4, h5, h6, p, span, button, input.btn, header nav.navbar a, p a, li, .container h1 a {
            color: rgb(235,235,235);
        }

        input.btn, a.btn {
            &.btn-danger {
                background-color: rgb(200,70,70);
                border-color: rgb(200,70,70);
            }

            &.btn-primary {
                background-color: rgb(50,50,190);
                border-color: rgb(50,50,190);
            }

            &.btn-success {
                background-color: rgb(70,170,70);
                border-color: rgb(70,170,70);
            }
        }

        input[type="text"], input.form-control, textarea.form-control, select {
            background-color: lightgrey;
        }

        input[type="checkbox"] {
            accent-color: lightgrey;
        }

        footer.footer {
            border-color: lightgray;

            .container {
                text-align: center;
                color: lightgrey;
            }
        }
    }
}
/*#endregion*/
