@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#booksSearchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
  position: relative;
}
#booksSearchContainer #bookInfo {
  width: calc(50% - 2rem);
  border: 1px solid black;
  border-radius: 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(128, 128, 128, 0.3);
}
#booksSearchContainer #bookInfo #addOverlay {
  display: none;
}
#booksSearchContainer #bookInfo:hover {
  cursor: pointer;
}
#booksSearchContainer #bookInfo:hover #addOverlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  color: green;
  pointer-events: none;
  background-color: rgba(50, 50, 50, 0.9);
  z-index: 50;
}
#booksSearchContainer #bookInfo:hover #addOverlay svg {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
#booksSearchContainer #bookInfo #rightCard {
  width: 75%;
  padding: 1rem;
}
#booksSearchContainer #bookInfo #rightCard #description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
#booksSearchContainer #bookInfo #leftCard {
  width: 25%;
  background-size: cover;
  background-position: center center;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  height: 100%;
}

.libraryListBookThumbnail {
  width: 20px;
}

.shelfButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.shelfButtons .shelfFormatToggleContainer {
  display: flex;
  border-radius: 1rem;
  border-color: !important;
}
.shelfButtons .shelfFormatToggleContainer .btn:not([data-active=true]) {
  background-color: grey !important;
}
.shelfButtons .shelfFormatToggleContainer .cardToggle.btn {
  background-color: lightgray;
  color: black;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 1px solid black;
}
.shelfButtons .shelfFormatToggleContainer .tableToggle.btn {
  background-color: lightgray;
  color: black;
  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px solid black;
}

table#bookListTable {
  border-color: rgb(95, 99, 104) !important;
}
table#bookListTable thead tr {
  background-color: grey;
}
table#bookListTable tbody tr:nth-child(even) {
  background-color: grey;
}
table#bookListTable tbody tr:nth-child(even) .linkingTD:hover {
  background-color: lightgrey;
}
table#bookListTable tbody tr:nth-child(odd) {
  background-color: lightgrey;
}
table#bookListTable tbody tr:nth-child(odd) .linkingTD:hover {
  background-color: grey;
}

#bookDetailContainer, #reviewDetailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
}
#bookDetailContainer #description, #reviewDetailContainer #description {
  margin-top: 3rem;
  color: lightgrey;
}
#bookDetailContainer #left, #reviewDetailContainer #left {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#bookDetailContainer #left img, #reviewDetailContainer #left img {
  width: 100%;
}
#bookDetailContainer #left h1, #reviewDetailContainer #left h1 {
  margin-bottom: 0px;
}
#bookDetailContainer #right, #reviewDetailContainer #right {
  width: 72%;
  display: flex;
  flex-direction: column;
}
#bookDetailContainer #right #googleProperties, #reviewDetailContainer #right #googleProperties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#bookDetailContainer #right #googleProperties span, #reviewDetailContainer #right #googleProperties span {
  width: 45%;
  padding-top: 1rem;
  font-weight: bold;
}
#bookDetailContainer #right fieldset, #reviewDetailContainer #right fieldset {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
#bookDetailContainer #right fieldset span, #reviewDetailContainer #right fieldset span {
  padding-top: 1rem;
  font-weight: bold;
}
#bookDetailContainer #right fieldset input, #reviewDetailContainer #right fieldset input {
  width: 150px;
}

td.linkingTD:hover {
  cursor: pointer;
  background-color: lightgray;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}
/*#region Global Styles and Nav Styles*/
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  color: lightgrey;
  background: linear-gradient(0deg, rgba(95, 99, 104, 0.98), rgba(95, 99, 104, 0.98)), url("../images/bookshelfbackground.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
}
html body {
  padding-top: 65px;
  margin-bottom: 60px;
  background: none;
}
html body header nav .dropdown-menu {
  background-color: grey;
}
html body header nav .dropdown-menu a.dropdown-item {
  color: rgb(235, 235, 235);
  background-color: grey;
  border-color: lightgray;
}
html body header nav .dropdown-menu a.dropdown-item:not(:first-of-type) {
  border-top: 1px solid lightgrey;
}
html body header nav #loggedInAs {
  display: flex;
  flex-wrap: nowrap;
}
html body header nav #loggedInAs a {
  font-weight: bold;
}
html body header nav #loggedInAs:hover {
  color: grey;
}
html body h1, html body h2, html body h3, html body h4, html body h5, html body h6, html body p, html body span, html body button, html body input.btn, html body header nav.navbar a, html body p a, html body li, html body .container h1 a {
  color: rgb(235, 235, 235);
}
html body input.btn.btn-danger, html body a.btn.btn-danger {
  background-color: rgb(200, 70, 70);
  border-color: rgb(200, 70, 70);
}
html body input.btn.btn-primary, html body a.btn.btn-primary {
  background-color: rgb(50, 50, 190);
  border-color: rgb(50, 50, 190);
}
html body input.btn.btn-success, html body a.btn.btn-success {
  background-color: rgb(70, 170, 70);
  border-color: rgb(70, 170, 70);
}
html body input[type=text], html body input.form-control, html body textarea.form-control, html body select {
  background-color: lightgrey;
}
html body input[type=checkbox] {
  accent-color: lightgrey;
}
html body footer.footer {
  border-color: lightgray;
}
html body footer.footer .container {
  text-align: center;
  color: lightgrey;
}

/*#endregion*/
