@charset "UTF-8";
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#booksSearchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
  position: relative;
}
#booksSearchContainer #bookInfo {
  width: calc(50% - 2rem);
  border: 1px solid black;
  border-radius: 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#booksSearchContainer #bookInfo:hover {
  cursor: pointer;
}
#booksSearchContainer #bookInfo:hover:after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100%;
  height: 100%;
  transform: translate(50%, -50%);
  border-radius: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  opacity: 1;
  font-size: 50px;
  color: green;
  background-color: rgba(100, 100, 100, 0.8);
  pointer-events: none;
}
#booksSearchContainer #bookInfo #rightCard {
  width: 75%;
  padding: 1rem;
}
#booksSearchContainer #bookInfo #rightCard #description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
#booksSearchContainer #bookInfo #leftCard {
  width: 25%;
  background-size: cover;
  background-position: center center;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  height: 100%;
}
